<div class="container" style="padding-top:50px;">
	<p>
		Salut! Eu sunt asistentul tau personal si sunt <strong>Powered by eeStec</strong>
	</p>
	<h3><strong>Calendar</strong></h3>
	<p>
		Pentru a folosi calendarul da click pe o zi din (ghici ce?) calendar! Iti apare mai apoi un tabel impartit pe jumatati de ora pe care poti sa faci drag&drop pe un anumit interval orar. Mai apoi, iti apare in dreapta jos, mai micut, un panel in care poti sa-ti setezi anumite preferinte legate de intervalul orar pe care ti l-ai ales. Alege-ti tipul de eveniment pe care l-ai marcat, da-i un titlu, fa o notita si spune-mi daca vrei sa te anunt cand se apropie evenimentul. E simplu!
	</p>
	<h3><strong>Vorbeste cu mine</strong></h3>
	<p>
		Daca dai click pe "Vorbeste cu mine" o sa-ti apara o fereastra mica in care poti sa-mi pui ce intrebare vrei tu. Dar ai grija, nu sunt chiar atat de destept :( Daca vrei, pot sa-ti zic ce stiu...<br>
		<!-- <button class="btn">Arata-mi ce stii</button> --><br>
		Eu fiind asistentul tau personal stiu mai bine decat tine task-urile tale. Pune-mi o intrebare despre ele! Spre exemplu: <br>
		"Ce task am azi?" sau "Ce task am maine?" <br>
		"Ce task am pe 10 noiembrie ora 13 jumatate?" Premierea eeStec Olympics normal...<br>
		Ora nu e obligatorie, dar data este.
	</p>
	<h3><strong>Recomandari</strong></h3>
	<p>
		Daca dai click pe "Recomandari" voi face tot posibilul sa-ti recomand cartile si filmele care sunt aproape sigur ca-ti vor placea.
	</p>
	<h3><strong>Sunt plictisit</strong></h3>
	<p>
		Aici te asteapta o surpriza! Ceva care te ajuta sa-ti omori timpul.
	</p>
	<h3><strong>Ajutor</strong></h3>
	<p>
		Cred ca nu mai este nevoie sa-ti spun ce face aceasta pagina, intrucat, daca ai ajuns pana aici, ai aflat deja singur! Spor :)
	</p>
</div>