<div class="container">
	<div class="col-xs-12">
		<div data-ng-repeat="field in fields" class="row">
			<div class="col-xs-4">
				{{field.text}}
			</div>
			<div class="col-xs-8">
				<input type="text" class="form-control" data-ng-model="field.answer">
			</div>
		</div>
		<div class="row">
			<a href data-ng-click="signup()" class="btn btn-primary btn-success">Send</a>
		</div>
	</div>
</div>